<html>
	<head></head>
	<body>
		<heading id="title">Minesweeper</heading>
		<div class="minesweeper">
			<table border="1">
			{{#rows}}
				<tr>
				{{#columns}}
				<td data-row="{{row}}" data-col="{{col}}" id="{{id}}"></td>
				{{/columns}}
				</tr>
			{{/rows}}
			</table>
		</div>
		<script type="text/javascript" src="/public/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/public/minesweeper.js"></script>
		<script type="text/javascript">
		  function onLoad() {
		    yose.minesweeper.init();
		  }
		</script>
	</body>
</html>
