<html>
	<head></head>
	<body>
		<heading id="title">PrimeFactors UI</heading>
		<div id="invitation">Enter the number you want to decompose</div>
		<form method="POST">
			<label for="number">Enter number</label>
			<input type="text" name="number" id="number" />
			<button type="submit" id="go">Calculate</button>
		</form>
		{{#hasMultiple}}
		<ol id="results">
			{{#results}}
			<li>{{.}}</li>
			{{/results}}
		</ol>
		{{/hasMultiple}}
		{{^hasMultiple}}
		<div id="result">{{decomposition}}</div>
		{{/hasMultiple}}
	</body>
</html>