<html>
	<head>
		<title></title>
	</head>
	<body>
		<header id="welcome"><a href="http://yosethegame.com">Yose</a> -> Hello Yose</header>
		<aside>
			<div>
				<a id="repository-link" href="http://github.com/chriswk/yose">Yose@Github</a>
			</div>
		</aside>
		<div>Challenges</div>
		<ul>
			<li>
				<a id="ping-challenge-link" href="http://chriswkyose.herokuapp.com/ping">Ping challenge</a>
			</li>
		</ul>
		<footer>
			<div>
				<a id="contact-me-link" href="http://github.com/chriswk">Contact me</a>
			</div>
		</footer>
	</body>
</html>